*{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{

    background: rgb(62, 62, 223);
}

.box{
    width: 1600px;
    height: 2000px;
    background: #ffffff;
    padding: 5px;
    border-radius: 30px;
    margin-left: 37%;
    margin-top: 7%;
    }

.titre {
    font-size: 90px;
    color: rgb(62, 62, 223);
    padding-top: 30px;
    padding-left: 45px;
}

input{
    color: #ffffff;
    background-color: rgb(62, 62, 223);
    font-size: 45px;
    width: 555px;
    height: 110px;
    border-radius: 20px;
    border: rgb(62, 62, 223);
    margin-left: 32%;
    margin-top: 4%;
    
   
}

hr{
    border-top: 1px solid ;
    margin-top: 25px;
    margin-left: 2.5%;
    width: 95%;
}

.degré{
    font-size: 90px;
    margin-left: 47%;
}

.temps{
    font-size: 90px;
    margin-left: 17% ;
}

h2{
    font-size: 65px;
    margin-left: 33%;
    padding: 30px;

}
.info{
    align-items: center;
    margin-top: 60%;
    justify-content: center;
    


}
